body {
    font-family: 'Rubik', Helvetica, sans-serif;
    max-width: 960px;
    margin: 50px auto;
    color: #7F2982;
    text-align: center;
    background: url('');
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-family: 'Rubik', Helvetica, sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-title {
    margin-bottom: 30px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}



.game-btn {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    color: #7F2982;

}

.gifs-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    column-gap: 15px;
}

.gifGames,
.gif-imgs {
    margin-top: 10px;
    object-fit: cover;
    width: 100%;
}


